.login {
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: #4caf50;
  width: 100%;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.login button:hover,
.login button:active,
.login button:focus {
  background: #43a047;
}
