@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  font-size: 1.5rem;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #47bfe4;
}

// HTML elements
button {
  width: 100%;
  max-width: 360px;
  color: rgba(255, 255, 255, 0.8);
  background: #4caf50;
  font-size: 1.5rem;
  padding: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
}

button:hover,
button:active,
button:focus {
  background: #43a047;
}

// More specific CSS
.login {
  background: #ffffff;
  margin: 100px auto 100px;
  padding: 3rem 6rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.logout {
  background: #ff3366;
  border-color: #ff3366;
}

.logout:hover,
.logout:active,
.logout:focus {
  background: #ff0342;
}
