@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  font-size: 1.5rem;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #47bfe4;
}

// Button
button {
  width: 100%;
  max-width: 360px;
  color: rgba(255, 255, 255, 0.8);
  background: #4caf50;
  font-size: 1.5rem;
  padding: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
}

button:hover,
button:active,
button:focus {
  background: #43a047;
}

// Input
input {
  width: 15rem;
  padding: 1rem;
  margin: 1rem 0;
  font-family: inherit;
  font-size: inherit;
}
